html {
  --black: #333;
  --white: #efefef;
  --color: rgb(60,130,246);
  --dark: rgb(31,41,55);
  --light: lightblue;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /*background-color: var(--light);*/
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p a, li a {
  display: inline-block;
  color: var(--color);
  text-decoration: underline;
}

/*.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* header, footer, main {
  border: 4px solid red;
}

section {
  border: 4px solid lime;
}

/*body * {
  border: 1px solid blue;
  padding: 2px;
}*/

header {
  /* background-color: var(--white); */
}

body {
  Display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*border: 10px solid blue;*/
}

main {
  flex-grow: 1;
  /*border: 10px solid pink;*/
}

inner-column {
  display: block;
  /*border: 4px solid orange;*/
  padding: 10px;
  width: 98%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

header inner-column {
  padding-top: 0vh;
  padding-bottom: 0vh;
}

footer inner-column {
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.loud {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.0;
}
@media (min-width: 700px) {
  .loud {
    font-size: 40px;
  }
}

.calm {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

.button {
  font-family: sans-serif;
  display: inline-block;
  background-color: var(--color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
}

graphic-diptych {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  /*background-color: var(--dark);*/
  padding: 10px;
  /*border: 4px solid dodgerblue;*/
  /*padding-top: 5vh;
  padding-bottom: 5vh;*/
}

graphic-diptych picture {
    max-width: 400px;
}

graphic-diptych text-content {
  display: block;
}

graphic-diptych text-content p {
  margin-top: 10px;
}

graphic-diptych text-content .button {
  margin-top: 10px;
}

@media (min-width: 700px) {
  graphic-diptych {
    flex-direction: row-reverse;
  }
  graphic-diptych text-content {
    flex-basis: 50%;
  }
  graphic-diptych picture {
    flex-basis: 50%;
  }
}

.welcome {
  background-color: var(--dark);
  color: var(--white);
}